<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Nodeinfo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vue-nav-tabs@0.5.7/themes/vue-tabs.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.7.5/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/css/dataTables.bulma.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-nav-tabs@0.5.7/dist/vue-tabs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.16.2/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-axios@2.1.4/dist/vue-axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment-duration-format@2.3.2/lib/moment-duration-format.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/js/dataTables.bulma.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/any-number.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mousetrap@1.6.3/mousetrap.min.js"></script>
    <script src="./utils.js"></script>
  </head>
  <body>
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <p class="navbar-item">
          <strong class="is-size-3">SLURM web interface</strong>
        </p>
        <a class="navbar-item " href="./squeue.html">SQUEUE</a>
        <a class="navbar-item is-active" href="./nodeinfo.html"><strong>NODEINFO</strong></a>
      </div>
    </nav>

    <div id="app">
      <p
        v-if="globalinfo"
        class="box is-size-4 has-background-light"
        id="totals"
      >
        Nodes states: ALLOCATED:{{ globalinfo["ALLOCATED"] }} &emsp; IDLE:{{
          globalinfo["IDLE"]
        }}
        &emsp;
        <template
          v-for="v,k in globalinfo"
          v-if="k !== 'ALLOCATED' && k !=='IDLE'"
        >
          {{ k }}:{{ v }}&emsp;
        </template>
      </p>
      <p>
        The <strong>LoadPerAlloc</strong> shows CPULoad/CPUAlloc. Ideally, it
        should be close to 1.0 on all nodes. (<input
          type="checkbox"
          v-model="outliersOnly"
        />
        Show only outliers where LoadPerAlloc &lt; 0.75 or LoadperAlloc &gt;
        1.25)
      </p>
      <table
        id="nodeinfo"
        class="table"
        cellspacing="0"
        width="100%"
        v-if="squeue"
      ></table>
      <div class="container" v-else=""><img src="default.gif" /></div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          Credits: Developed by
          <a href="mailto:roy.dragseth@uit.no">Roy Dragseth</a> using
          <a href="https://bottlepy.org">Bottle</a> for the server side and
          <a href="https://vuejs.org">Vue</a>,
          <a href="https://datatables.net/">Datatables</a>
          and <a href="https://craig.is/killing/mice/">Mousetrap</a> for the
          client side.<br />
          Source and docs:
          <a href="https://github.com/dragz/slurmbrowser/">On GitHub.</a>
        </div>
      </div>
    </footer>
    <script>
      var MIN_LOAD, MAX_LOAD;
      const nodeinfoVue = new Vue({
        el: "#app",
        data: {
          nodeinfo: null,
          squeue: null,
          nodeinfoTable: null,
          globalinfo: null,
          outliersOnly: false,
          max_load: 1.75,
          min_load: 0.25
        },
        methods: {
          fetchSqueue() {
            return this.axios.get("../data/squeue");
          },
          fetchNodeinfo() {
            return this.axios.get("../data/nodeinfo");
          },
          updateNodeinfo() {
            this.calculateExtraInfo();
            this.nodeinfoTable = $("#nodeinfo").DataTable({
              data: this.nodeinfo,
              columns: [
                { data: "NodeName", title: "NodeName" },
                { data: "CPUTot", title: "CPUTot" },
                { data: "CPUAlloc", title: "CPUAlloc" },
                { data: "CPULoad", title: "CPULoad" },
                {
                  data: "LoadPerAlloc",
                  title: "LoadPerAlloc",
                  type: "any-number"
                },
                { data: "RealMemory", title: "RealMemory" },
                { data: "AllocMem", title: "AllocMem" },
                { data: "FreeMem", title: "FreeMem" },
                { data: "State", title: "State" },
                { data: "JOBS", title: "JOBS", render: this.render_joblist }
              ],
              order: [[1, "asc"]],
              pageLength: 50,
              lengthMenu: [[50, 100, -1], [50, 100, "All"]],
              stateSave: true
            });
          },
          calculateExtraInfo() {
            const jobs = this.squeue.jobinfo;
            const hostjobs = {};
            for (const j in jobs) {
              const job = jobs[j];
              const hostlist = expand_nodelist(job["NodeList"]);
              for (const h in hostlist) {
                const hostname = hostlist[h];
                if (!(hostname in hostjobs)) {
                  hostjobs[hostname] = [];
                }
                hostjobs[hostname].push({
                  jobid: job["JobId"],
                  user: job["UserId"]
                });
              }
            }

            const nodestates = {};
            for (const n in this.nodeinfo) {
              const hostinfo = this.nodeinfo[n];
              const cpualloc = hostinfo["CPUAlloc"];
              const cpuload = hostinfo["CPULoad"];
              let loadperalloc = "";
              if (cpualloc >= 1) {
                loadperalloc = (cpuload / cpualloc).toFixed(2);
              } else {
                loadperalloc = "N/A";
              }
              hostinfo["LoadPerAlloc"] = loadperalloc;
              if (hostinfo["NodeName"] in hostjobs) {
                hostinfo["JOBS"] = hostjobs[hostinfo["NodeName"]];
              } else {
                hostinfo["JOBS"] = "";
              }
              if (!nodestates.hasOwnProperty(hostinfo["State"])) {
                nodestates[hostinfo["State"]] = 0;
              }
              nodestates[hostinfo["State"]]++;
            }
            this.globalinfo = nodestates;
          },
          render_joblist(data, type, row) {
            const jobdisp = [];
            for (const d in data) {
              const j = data[d];
              jobdisp.push(
                "<a href=job.html?jobid=" +
                  j["jobid"] +
                  ">" +
                  j["jobid"] +
                  "</a>:" +
                  "<a href=jobhist.html?user=" +
                  j["user"].replace(/\(.*\)/, "") +
                  ">" +
                  j["user"].replace(/\(.*\)/, "") +
                  "</a>"
              );
            }
            return jobdisp.join(",");
          }
        },
        mounted() {
          this.axios
            .all([this.fetchSqueue(), this.fetchNodeinfo()])
            .then(
              this.axios.spread(
                (s, n) => (
                  (this.squeue = s.data), (this.nodeinfo = n.data.nodeinfo)
                )
              )
            )
            .finally(() => this.updateNodeinfo());
          window.MAX_LOAD = this.max_load;
          window.MIN_LOAD = this.min_load;
        },
        watch: {
          outliersOnly: {
            immediate: true,
            handler: function(newVal, oldVal) {
              if (this.outliersOnly) {
                this.min_load = 0.75;
                this.max_load = 1.25;
              } else {
                this.min_load = -1;
                this.max_load = 10000.0;
              }
              window.MAX_LOAD = this.max_load;
              window.MIN_LOAD = this.min_load;
              this.nodeinfoTable.draw();
            }
          }
        }
      });

      $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
        if (window.MIN_LOAD < 0.0) {
          return true;
        }
        if (
          parseFloat(data[4]) < window.MIN_LOAD ||
          parseFloat(data[4]) > window.MAX_LOAD
        ) {
          return true;
        } else {
          return false;
        }
      });
    </script>
  </body>
</html>
