<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Squeue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vue-nav-tabs@0.5.7/themes/vue-tabs.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-nav-tabs@0.5.7/dist/vue-tabs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.16.2/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-axios@2.1.4/dist/vue-axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment-duration-format@2.3.2/lib/moment-duration-format.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/any-number.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mousetrap@1.6.3/mousetrap.min.js"></script>
    <script src="./utils.js"></script>
  </head>
  <body>
    <p>
      <strong>
        <a href="./squeue.html">SQUEUE</a>
        <a href="./nodeinfo.html">NODEINFO</a>
      </strong>
    </p>

    <div id="app">
      <p id="totals"></p>
      <button @click="filter_jobs('\\bR\\b')">Show running jobs(r)</button>
      <button @click="filter_jobs('[^R]')">Show non running jobs(w)</button>
      <button @click="filter_jobs('.')">Show all jobs(a)</button>
      <table
        id="squeueref"
        class="display nowrap"
        cellspacing="0"
        width="100%"
        v-if="squeue"
      >
        <thead>
          <td v-for="header in visibleCols">{{ header }}</td>
        </thead>
        <tbody>
          <tr>
            <td v-for="header in visibleCols">Loading</td>
          </tr>
        </tbody>
      </table>
      <p v-else=""><img src="default.gif" /></p>
      <p>
        Keyboard shortcuts:<br />
        f-first page, n-next, p-previous, l-last, s-search. a-all jobs,
        r-running jobs, w-waiting jobs<br />
        Sort by: c-CPUS, o-NODES, t-TIME_LEFT, i-START_TIME, m-MIN_MEMORY<br />

        Click on jobid to display loadgraphs for job. Click on username to see
        the users job history since yesterday midnight.
      </p>

      <p>
        Credits: Developed by
        <a href="mailto:roy.dragseth@uit.no">Roy Dragseth</a> using
        <a href="https://bottlepy.org">Bottle</a> for the server side and
        <a href="https://vuejs.org">Vue</a>,
        <a href="https://datatables.net/">Datatables</a>
        and <a href="https://craig.is/killing/mice/">Mousetrap</a> for the
        client side.<br />
        Source: <a href="https://github.com/dragz/slurmbrowser/">On GitHub.</a>
      </p>
    </div>
    <script>
      const squeueVue = new Vue({
        el: "#app",
        data: {
          squeue: null,
          nodeinfo: null,
          squeueTable: null,
          visibleCols: [
            "JOBID",
            "USER",
            "ACCOUNT",
            "ST",
            "PARTITION",
            "QOS",
            "NODES",
            // "AvgNodeLoad",
            "CPUS",
            "MIN_MEMORY",
            "TIME_LEFT",
            "TIME_LIMIT",
            "START_TIME",
            "END_TIME",
            "NODELIST(REASON)"
          ]
        },
        methods: {
          fetchSqueue() {
            return this.axios.get("../data/squeue");
          },
          fetchNodeinfo() {
            return this.axios.get("../data/nodeinfo");
          },
          updateSqueue() {
            this.squeueTable = $("#squeueref").DataTable({
              data: this.squeue.jobs,
              columns: colProps(this.visibleCols, this.squeue.headers),
              // ordering : true,
              // order: [[this.visibleCols.indexOf["END_TIME"], "asc"]],
              pageLength: 25,
              lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
              scrollX: true,
              stateSave: true,
              columnDefs: colDefs(this.visibleCols)
            });
            // this.squeueTable.clear();
            // this.squeueTable.rows.add(this.squeue.jobs).draw();
            keyboardShortcuts(this.squeueTable, this.visibleCols);
          },
          updateNodeinfo() {},
          filter_jobs(state) {
            this.squeueTable
              .column(this.visibleCols.indexOf("ST"))
              .search(state, true)
              .draw();
          }
        },
        mounted() {
          this.axios
            .all([this.fetchSqueue(), this.fetchNodeinfo()])
            .then(
              this.axios.spread(
                (s, n) => (
                  (this.nodeinfo = n.data.nodeinfo), (this.squeue = s.data)
                )
              )
            )
            .finally(() => this.updateSqueue());
        },
        watch: {
          // squeue : function () {this.updateSqueue()},
          // nodeinfo : function () {}
        }
      });

      function colProps(viscols, headers) {
        const cols = [];
        for (const i in viscols) {
          const colhead = viscols[i];
          const dataIndex = headers.indexOf(colhead);
          cols.push({
            title: colhead,
            data: dataIndex,
            className: "dt-body-right"
          });
        }
        return cols;
      }

      function colDefs(visibleCols) {
        return [
          {
            render: function(data, type, row) {
              return "<a href=job.html?jobid=" + data + ">" + data + "</a>";
            },
            targets: visibleCols.indexOf("JOBID")
          },
          {
            render: function(data, type, row) {
              return "<a href=jobhist.html?user=" + data + ">" + data + "</a>";
            },
            targets: visibleCols.indexOf("USER")
          },
          {
            type: "mem-size",
            targets: visibleCols.indexOf("MIN_MEMORY")
          },
          // {
          //   render: function(data, type, row) {
          //     var c = "black";
          //     if (data < 15.0) {
          //       c = "red";
          //     }
          //     return "<span style=color:" + c + ">" + data + "</span>";
          //   },
          //   type: "any-number",
          //   targets: this.visibleCols.indexOf("AvgNodeLoad")
          // },
          {
            type: "timespec",
            targets: [
              visibleCols.indexOf("TIME_LEFT"),
              visibleCols.indexOf("TIME_LIMIT")
            ]
          }
        ];
      }

      function keyboardShortcuts(table, headers) {
        Mousetrap.bind("n", () => table.page("next").draw("page"));
        Mousetrap.bind("p", () => table.page("previous").draw("page"));
        Mousetrap.bind("f", () => table.page("first").draw("page"));
        Mousetrap.bind("l", () => table.page("last").draw("page"));
        Mousetrap.bind(
          "s",
          () => $("div.dataTables_filter input").focus(),
          "keyup"
        );

        Mousetrap.bind("c", () =>
          table.order([[headers.indexOf("CPUS"), "desc"]]).draw()
        );
        Mousetrap.bind("t", () =>
          table.order([[headers.indexOf("TIME_LEFT"), "asc"]]).draw()
        );
        Mousetrap.bind("m", () =>
          table.order([[headers.indexOf("MIN_MEMORY"), "desc"]]).draw()
        );
        Mousetrap.bind("o", () =>
          table.order([[headers.indexOf("NODES"), "desc"]]).draw()
        );
        Mousetrap.bind("i", () =>
          table.order([[headers.indexOf("START_TIME"), "asc"]]).draw()
        );

        Mousetrap.bind("r", () =>
          table
            .column(headers.indexOf("ST"))
            .search("R")
            .draw()
        );
        Mousetrap.bind("w", () =>
          table
            .column(headers.indexOf("ST"))
            .search("[^R]", true)
            .draw()
        );
        Mousetrap.bind("a", () =>
          table
            .column(headers.indexOf("ST"))
            .search(".", true)
            .draw()
        );
      }
    </script>
  </body>
</html>
