<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Squeue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vue-nav-tabs@0.5.7/themes/vue-tabs.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.7.5/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/css/dataTables.bulma.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-nav-tabs@0.5.7/dist/vue-tabs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.16.2/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-axios@2.1.4/dist/vue-axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment-duration-format@2.3.2/lib/moment-duration-format.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/js/dataTables.bulma.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/any-number.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mousetrap@1.6.3/mousetrap.min.js"></script>
    <script src="./utils.js"></script>
  </head>
  <body>
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <p class="navbar-item">
          <strong class="is-size-3">SLURM web interface</strong>
        </p>
        <a class="navbar-item" href="./squeue.html"><strong>SQUEUE</strong></a>
        <a class="navbar-item" href="./nodeinfo.html">NODEINFO</a>
      </div>
    </nav>

    <div id="app">
      <p
        class="box is-size-4 has-background-light"
        id="totals"
        v-if="globalStats"
      >
        Running/pending jobs: {{ globalStats.running_jobs }}/{{
          globalStats.idle_jobs
        }}
        &emsp; Active users/accounts:
        {{ globalStats.active_users }}/{{ globalStats.active_accounts }} &emsp;
        Utilization:
        {{
          ((globalStats.alloc_cpus / globalStats.total_cpus) * 100).toFixed(2)
        }}% ({{ globalStats.alloc_cpus }}/{{ globalStats.total_cpus }} cpus)
        &emsp; Backlog: {{ globalStats.backlog.toFixed(2) }} hours
      </p>
      <a class="button is-info" @click="filter_jobs('\\bRunning\\b')">
        Show running jobs(r)
      </a>
      <a class="button is-info" @click="filter_jobs('^(?:(?!Running).)*$')">
        Show non running jobs(w)
      </a>
      <a class="button is-info" @click="filter_jobs('.')">
        Show all jobs(a)
      </a>
      <a class="button is-info" @click="detailedInfo=!detailedInfo">
        Show job details
      </a>
      <hr />
      <table
        id="squeueref"
        class="table display nowrap"
        cellspacing="0"
        width="100%"
        v-if="squeue"
      >
        <thead>
          <td v-for="header in allCols">{{ header }}</td>
        </thead>
        <tbody>
          <tr>
            <td v-for="header in allCols">Loading</td>
          </tr>
        </tbody>
      </table>
      <p v-else=""><img src="default.gif" /></p>
      <div class="box">
        Keyboard shortcuts:<br />
        f-first page, n-next, p-previous, l-last, s-search. a-all jobs,
        r-running jobs, w-waiting jobs<br />
        Sort by: c-CPUS, o-NODES, t-TIME_LEFT, i-START_TIME, m-MIN_MEMORY<br />

        Click on jobid to display loadgraphs for job. Click on username to see
        the users job history since yesterday midnight.<br />

        <strong>Hints:</strong><br />
        <ul>
          <li>
            To see only your own jobs, type your username in the search field.
          </li>
          <li>
            To find out when your job will start select non-running jobs (key w)
            and then sort by START_TIME (key i). If the job is listed with a
            start time it is scheduled to run.
          </li>
        </ul>
      </div>

      <footer class="footer">
        <div class="containar">
          <div class="content has-text-centered">
            Credits: Developed by
            <a href="mailto:roy.dragseth@uit.no">Roy Dragseth</a> using
            <a href="https://bottlepy.org">Bottle</a> for the server side and
            <a href="https://vuejs.org">Vue</a>,
            <a href="https://datatables.net/">Datatables</a>
            and <a href="https://craig.is/killing/mice/">Mousetrap</a> for the
            client side.<br />
            Source and docs:
            <a href="https://github.com/dragz/slurmbrowser/">On GitHub.</a>
          </div>
        </div>
      </footer>
    </div>
    <script>
      const squeueVue = new Vue({
        el: "#app",
        data: {
          detailedInfo: false,
          squeue: null,
          nodeinfo: null,
          squeueTable: null,
          globalStats: null,
          allCols: [
            "JobId",
            "UserId",
            "Account",
            "JobState",
            "Partition",
            "QOS",
            "NumNodes",
            "AvgNodeLoad",
            "NumCPUs",
            // "MinMemoryNode",
            "TimeLeft",
            "RunTime",
            "TimeLimit",
            "StartTime",
            "EndTime",
            "Reason",
            "NodeList"
          ],
          basicCols: [
            "JobId",
            "UserId",
            "JobState",
            "NumNodes",
            "AvgNodeLoad",
            "NumCPUs",
            "TimeLeft",
            "RunTime",
            "TimeLimit",
            "StartTime"
          ]
        },
        methods: {
          fetchSqueue() {
            return this.axios.get("../data/squeue");
          },
          fetchNodeinfo() {
            return this.axios.get("../data/nodeinfo");
          },
          handleDetailChange() {
            localStorage.detailedInfo = this.detailedInfo;
            if (!this.squeue) {
              return;
            }
            if (this.detailedInfo) {
              this.squeueTable.columns().visible(true);
            } else {
              this.squeueTable.columns().visible(false);
              const visible = [];
              for (const i in this.basicCols) {
                visible.push(this.allCols.indexOf(this.basicCols[i]));
              }
              this.squeueTable.columns(visible).visible(true);
            }
          },
          updateSqueue() {
            compute_extra_info(this);
            this.squeueTable = $("#squeueref").DataTable({
              data: this.squeue.jobinfo,
              columns: colProps(this),
              // ordering : true,
              // order: [[this.allCols.indexOf["END_TIME"], "asc"]],
              pageLength: 25,
              lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
              scrollX: true,
              stateSave: true,
              columnDefs: colDefs(this.allCols)
            });
            this.handleDetailChange();
            // this.squeueTable.clear();
            // this.squeueTable.rows.add(this.squeue.jobs).draw();
            keyboardShortcuts(this.squeueTable, this.allCols);
          },
          updateNodeinfo() {},
          filter_jobs(state) {
            this.squeueTable
              .column(this.allCols.indexOf("JobState"))
              .search(state, true)
              .draw();
          }
        },
        mounted() {
          if (localStorage.hasOwnProperty("detailedInfo")) {
            this.detailedInfo = localStorage.detailedInfo === "true";
          } else {
            localStorage.detailedInfo = this.detailedInfo;
          }
          this.axios
            .all([this.fetchSqueue(), this.fetchNodeinfo()])
            .then(
              this.axios.spread(
                (s, n) => (
                  (this.nodeinfo = n.data.nodeinfo), (this.squeue = s.data)
                )
              )
            )
            .finally(() => this.updateSqueue());
        },
        watch: {
          detailedInfo: function() {
            this.handleDetailChange();
          }
          // squeue : function () {this.updateSqueue()},
          // nodeinfo : function () {}
        }
      });

      function colProps(sq) {
        const cols = [];
        for (const i in sq.allCols) {
          cols.push({
            title: sq.allCols[i],
            data: sq.allCols[i],
            className: "dt-body-right"
          });
        }
        cols[cols.length - 1].className = "dt-body-left";
        return cols;
      }

      function colDefs(allCols) {
        return [
          {
            render: function(data, type, row) {
              return "<a href=job.html?jobid=" + data + ">" + data + "</a>";
            },
            targets: allCols.indexOf("JobId")
          },
          {
            render: function(data, type, row) {
              const user = data.replace(/\(.*\)/, "");
              return "<a href=jobhist.html?user=" + user + ">" + user + "</a>";
            },
            targets: allCols.indexOf("UserId")
          },
          {
            type: "mem-size",
            targets: "MinNodeMem"
          },
          {
            type: "numnodes",
            targets: allCols.indexOf("NumNodes"),
            render : (data, type, row) => parseInt(data)
          },
          {
            render: function(data, type, row) {
              var c = "black";
              if (data < 15.0) {
                c = "red";
              }
              return "<span style=color:" + c + ">" + data + "</span>";
            },
            type: "any-number",
            targets: [allCols.indexOf("AvgNodeLoad")]
          },
          {
            type: "timespec",
            targets: [
              allCols.indexOf("TimeLeft"),
              allCols.indexOf("TimeLimit"),
              allCols.indexOf("RunTime")
            ]
          }
        ];
      }

      function keyboardShortcuts(table, headers) {
        Mousetrap.bind("n", () => table.page("next").draw("page"));
        Mousetrap.bind("p", () => table.page("previous").draw("page"));
        Mousetrap.bind("f", () => table.page("first").draw("page"));
        Mousetrap.bind("l", () => table.page("last").draw("page"));
        Mousetrap.bind(
          "s",
          () => $("div.dataTables_filter input").focus(),
          "keyup"
        );

        Mousetrap.bind("c", () =>
          table.order([[headers.indexOf("NumCPUs"), "desc"]]).draw()
        );
        Mousetrap.bind("t", () =>
          table.order([[headers.indexOf("TimeLeft"), "asc"]]).draw()
        );
        // Mousetrap.bind("m", () =>
        //   table.order([[headers.indexOf("MIN_MEMORY"), "desc"]]).draw()
        // );
        Mousetrap.bind("o", () =>
          table.order([[headers.indexOf("NumNodes"), "desc"]]).draw()
        );
        Mousetrap.bind("i", () =>
          table.order([[headers.indexOf("StartTime"), "asc"]]).draw()
        );

        Mousetrap.bind("r", () =>
          table
            .column(headers.indexOf("JobState"))
            .search("Running")
            .draw()
        );
        Mousetrap.bind("w", () =>
          table
            .column(headers.indexOf("JobState"))
            .search("^(?:(?!Running).)*$", true)
            .draw()
        );
        Mousetrap.bind("a", () =>
          table
            .column(headers.indexOf("JobState"))
            .search(".", true)
            .draw()
        );
      }

      function compute_extra_info(s) {
        const jobs = s.squeue.jobinfo;
        const nodelist = s.nodeinfo;

        const nodes = {};
        const nodestates = {};
        let total_cpus = 0;
        let alloc_cpus = 0;
        let backlog = 0.0;
        for (const n in nodelist) {
          node = nodelist[n];
          nodes[node["NodeName"]] = node;
          if (!nodestates[node["State"]]) {
            nodestates[node["State"]] = 0;
          }
          nodestates[node["State"]]++;
          total_cpus += node["CPUTot"];
          alloc_cpus += node["CPUAlloc"];
        }

        let running_jobs = 0;
        let idle_jobs = 0;
        const active_users = new Set();
        const active_accounts = new Set();
        for (const j in jobs) {
          const job = jobs[j];
          active_users.add(job["UserId"]);
          active_accounts.add(job["Account"]);
          if (job["JobState"] === "RUNNING") {
            running_jobs++;
            let avgnodeload = 0.0;
            const jobnodes = expand_nodelist(job["NodeList"]);
            for (const n in jobnodes) {
              const nodename = jobnodes[n];
              if (nodes[nodename]) {
                avgnodeload = avgnodeload + nodes[nodename]["CPULoad"];
              }
            }
            avgnodeload = avgnodeload / jobnodes.length;
            jobs[j]["AvgNodeLoad"] = avgnodeload.toFixed(2);
            const runtime = moment.duration(job["RunTime"].replace("-", "."));
            const timelimit = moment.duration(
              job["TimeLimit"].replace("-", ".")
            );
            const timeleft = timelimit.clone();
            timeleft.subtract(runtime);
            jobs[j]["TimeLeft"] = timeleft.format("DD-hh:mm:ss");
          } else {
            idle_jobs++;
            jobs[j]["AvgNodeLoad"] = "N/A";
            backlog += timespec_to_seconds(job["TimeLimit"]) * job["NumCPUs"];
            jobs[j]["TimeLeft"] = jobs[j]["TimeLimit"];
          }
        }
        s.globalStats = {
          total_cpus: total_cpus,
          alloc_cpus: alloc_cpus,
          nodestates: nodestates,
          running_jobs: running_jobs,
          idle_jobs: idle_jobs,
          backlog: backlog / total_cpus / 3600.0,
          active_users: active_users.size,
          active_accounts: active_accounts.size
        };
      }
    </script>
  </body>
</html>
